[submodule "modules/columnflow"]
	path = modules/columnflow
	url = https://github.com/IPHCTau/columnflow.git
[submodule "modules/cmsdb"]
	path = modules/cmsdb
	url = git@github.com:mathilde-t/cmsdb.git
[submodule "modules/ClassicsSVfit"]
	path = modules/ClassicsSVfit
	url = git@github.com:mathilde-t/ClassicSVfit.git
